{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="login-container">
    <div class="login-box">
        <div class="header-bar">
            <h1>Login</h1>  
        </div>

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="custom-login-button">
                    Login
                </button>
                
            </form>            
        </div>

        <!-- <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p> -->
        <a href="{% url 'home' %}" class="mx-3 my-2 button btn btn-outline-dark">Back</a>
    </div>
</div>

<!-- Cleaned up trailing unclosed div tag -->

{% endblock content %}
